
body{
 
 margin:0px;
 height:900px;
 font-family: sans-serif;
}



.chat_box{
 position:fixed;
 right:20px;
 bottom:0px;
 width:250px;
}
.chat_body{
 background:#F2F2F2;
 height:400px;
 padding:5px 0px;
}

.chat_head,.msg_head{
 background:#088A68;
 color:white;
 padding:15px;
 font-weight:bold;
 cursor:pointer;
 border-radius:5px 5px 0px 0px;
}

.msg_box{
 position:fixed;
 bottom:-5px;
 width:250px;
 background:#F2F2F2;
 border-radius:5px 5px 0px 0px;
}

.msg_head{
 background:#FF8000;
}

.msg_body{
 background:#F2F2F2;
 height:200px;
 font-size:12px;
 padding:15px;
 overflow:auto;
 overflow-x: hidden;
}
.msg_input{
 width:100%;
 border: 3px solid white;
 border-top:1px solid #DDDDDD;
}

.close{
 float:right;
 cursor:pointer;
}
.minimize{
 float:right;
 cursor:pointer;
 padding-right:5px;
 
}

.user{
 position:relative;
 padding:10px 30px;
}
.user:hover{
 background:#f8f8f8;
 cursor:pointer;

}
.user:before{
 content:'';
 position:absolute;
 background:#2ecc71;
 height:10px;
 width:10px;
 left:10px;
 top:15px;
 border-radius:6px;
}

.msg_a{
 color: white;
 position:relative;
 background:#0B3B39;
 padding:15px;
 min-height:15px;
 margin-bottom:10px;
 margin-right:15px;
 border-radius:10px;
}
.msg_a:before{
 content:"";
 position:absolute;
 width:0px;
 height:0px;
 border: 10px solid;
 border-color: transparent #da5a47 transparent transparent;
 left:-20px;
 top:7px;
}


.msg_b{
 color: white;
 position:relative;
 background:#61210B;
 padding:15px;
 min-height:15px;
 margin-bottom:10px;
 margin-left:15px;
 border-radius:10px;
}
.msg_b:after{
 content:"";
 position:absolute;
 width:0px;
 height:0px;
 border: 10px solid;
 border-color: transparent transparent transparent #7d0100;
 right:-20px;
 top:7px;
}
